@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake {
    animation: shake 0.5s;
}

.popup {
    position: fixed; 
    transform: translateX(-50%);
    background-color: rgb(134, 222, 134);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    bottom: 15%; 
    left: 50%; 
}

.popup.show {
    opacity: 1;
}