/* Menu Button */
.button {
    position: relative; /* Ensure the pseudo-element is positioned relative to the button */
    width: 40px; 
    height: 40px; 
    padding: 8px; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    border: solid 1px black; 
    background-color: white; 
    transition: background-color 0.3s ease;
}

.button::before {
    content: '';
    position: absolute;
    top: -5px; /* Adjust to move the glow behind the button */
    left: -5px; /* Adjust to move the glow behind the button */
    right: -5px; /* Adjust to move the glow behind the button */
    bottom: -5px; /* Adjust to move the glow behind the button */
    border: 2px solid #0ff;
    border-radius: 50%; /* Match the button's border-radius */
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    z-index: -1; /* Ensure the glow is behind the button */
    transition: opacity 0.3s ease;
    opacity: 0;
}

.button:hover::before {
    opacity: 1;
}


.button img {
    width: 100%;
    height: 100%;
    display: block;
}

.svg-icon {
    filter: brightness(0) invert(1); /* Changes black SVGs to white */
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

 #change-vessel-button {
    margin-left: 88%;
    position: fixed; 
    z-index: 999;  
    top: 2px; 
    width: 55px;
    height: 55px; 
}

.saveVesselButton {
    float: right; 
    padding: 0px; 
    margin-left: -5px
}

#shared-submit-button {
    padding: 0px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -11px;
    bottom: -3px;
    background-color: white;
    border: 2px solid black; 
    transition: .4s;
    border-radius: 34px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; 
    border: 2px solid black; 
    transition: .4s;
    border-radius: 50%; /* Circular handle */
}

input:checked + .slider {
    background-color: white; 
}

input:checked + .slider:before {
    transform: translateX(26px);
    border: 2px solid #0ff;
    border-radius: 50%; /* Match the button's border-radius */
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    background-color: hsl(54, 50%, 58%); 
    border-color: black;
}

/* Styling for the menu item */
.menu-item {
    display: flex;
    align-items: center;
    color: #fff; /* White text for the label */
    font-family: 'Courier New', Courier, monospace; /* Retro font */
    margin-bottom: 15px;
}

.menu-item span {
    font-size: 16px;
    margin-left: 5px;
}


