
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    max-width: 10%;
    cursor: pointer;
}

.button img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
}