@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}  

.none {
    display: none;
}

.hidden {
    opacity: 0;
}

body {
    background: radial-gradient(circle, #1b2735, #090a0f);
    color: #00ff99;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 20%; 
    margin: 0;
    padding: 0;
}

#form-container {
    padding-bottom: 100px; 
    margin-bottom: 20px; 
}

.vesselDisplay, #task-main-block {
    overflow-y: auto;
}

.padding {
    padding: 2%; 
}

.marginTop {
    margin-top: 5%; 
}

h2 {
    margin-bottom: 2%; 
}


