
.mainBlockTab {
    align-items: center;
    background-color: #f1e7cb; /* Match the background to the folder */
    padding: 15px;
    position: relative;
    top: 40px; 
    z-index: -1; 
}
.tab {
    position: absolute; 
    cursor: pointer; 
    background-color: #f1e7cb; /* Tab color */
    border: 1px solid #d3b36a; /* Border color similar to a folder */
    border-bottom: none; /* Remove the bottom border to blend with content */
    border-radius: 8px 8px 0 0; /* Rounded top corners */
    padding: 5px 10px;
    z-index: 9; /* Ensure the tab is above the rest of the content */
    margin-left: 2px; 
    width: 20%; 
}

#add-work-tab {
    top: 15%; 
    left: 3%;
}

#archive-tab {
    top: 15%; 
    left: 25%;
    color: white; 
    background-color: black; 
}

#add-work-tab .content {
    background-color: #ffffff; /* Content background to match the tab */
    border: 1px solid #d3b36a; /* Same border as the tab */
    padding: 20px;
    margin-top: -20px; /* Pull the content up to meet the tab */
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */
}

#archive-tab .content {
    background-color: black; 
    padding: 20px;
    margin-top: -20px; /* Pull the content up to meet the tab */
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */

}