/* Center the main div at the top of the page */
.main-vessel-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    background-color: white; 
    margin-left: 5%; 
}

/* Style for the vessel form */
.vesselForm {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Style for the selected vessel heading */
.selectedVesselHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
}

/* Ensure the heading and button are aligned properly */
.selectedVesselHeading h2 {
    margin: 0;
}

/* Ensure the vessel form elements are aligned properly */
.vesselForm form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.vesselForm input, .vesselForm button {
    flex: 1;
    margin: 0 5px;
}

.autocompleteSuggestions {
    position:absolute; 
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 10px); /* Adjust width to fit the input */
    left: 0; /* Ensure the suggestions start from the left */
    border-radius: 5px; /* Add some border-radius for better appearance */
    z-index: 999; /* Ensure the suggestions appear above other content */
    margin-top: 1%; 
    margin-left: 5%; 
}

.suggestion {
    padding: 5px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}
