.informationButton {
    display: inline;
    float: right; 
    margin-top: -30px; 
    background: linear-gradient(45deg, #13de42, #8000ff);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 10px #13de42, 0 0 20px #8000ff, 0 0 30px #13de42, 0 0 40px #8000ff;
    transition: background 0.5s, box-shadow 0.5s;
}

.informationButton:hover {
    background: linear-gradient(45deg, #8000ff, #13de42);
    box-shadow: 0 0 20px #13de42, 0 0 30px #8000ff, 0 0 40px #13de42, 0 0 50px #8000ff;
}

.informationButton:focus {
    outline: none;
    box-shadow: 0 0 30px #13de42, 0 0 40px #8000ff, 0 0 50px #13de42, 0 0 60px #8000ff;
}

#toggle-button img.svg-icon {
    filter: brightness(0) invert(1); 
    stroke-width: 5px;
    transition: transform 0.5s ease-in-out; 
}

/* Rotated state */
#toggle-button img.svg-icon.rotated {
    transform: rotate(90deg); 
}

.informationContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.informationContainer.open {
    max-height: 1000px; /* Adjust this value according to your content size */
    opacity: 1;
}

/* Rotate the icon */
.rotated {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}
