.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-group label {
    margin-right: 1em; /* Space between label and input */
}

.form-group input.zincStyleCount {
    width: 90px; /* Width to fit 3-digit numbers */
    padding: 0.5em;
    box-sizing: border-box; /* Include padding in width */
}

#add-button img.zinc-plus-icon {
    filter: brightness(0) invert(1); 
    float: right; 
}

/* Initial state */
#add-button {
    transition: transform 0.5s ease-in-out; /* 0.5s for the duration, adjust as needed */
}

/* Rotated state */
#add-button.rotated {
    transform: rotate(90deg); /* Rotate 90 degrees */
}

/* Initial container styles */
.container {
    transition: all 0.5s ease; /* Smooth transition for all properties */
}

/* Initially, sections will have no max-height and opacity */
.form-section {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, border-width 0.5s ease;
}

/* When the section is open */
.form-section.open {
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
    border-width: 2px; /* Adjust as needed */
}


